VITE_EDIT_PASSWORD=your-password-here
VITE_JSONBIN_KEY=your-jsonbin-master-key-here
VITE_POKEMON_BIN_ID=your-pokemon-bin-id-here
VITE_GO_BIN_ID=your-go-bin-id-here
VITE_USUM_BIN_ID=your-usum-bin-id-here
